@using SistemaBoletimTransporteDigital.Enums;
@model UsuarioModel
@{
    ViewData["Title"] = "Criar Usuário";
}


<div class="text-center">

    <h1 class="display-4">Cadastrar usuário</h1>
    <br />

</div>

<form asp-controller="Usuario" asp-action="Criar" method="post">

    <div class="row">

    <div class="col-3">
        <label for="codigofuncional">Código Funcional:</label>
        <input type="text" asp-for="CodigoFuncional" class="form-control" placeholder="Exemplo: 0015999">
            @Html.ValidationMessageFor(x => x.CodigoFuncional)
    </div>
    <div class="col-3">
        <label for="nome">Nome:</label>
        <input type="text" asp-for="Nome" class="form-control" placeholder="Exemplo: Mathues Nunes da Silva ">
            @Html.ValidationMessageFor(x => x.Nome)
    </div>
    <div class="col-3">
        <label for="usuario">Usuário:</label>
        <input type="text" asp-for="Usuario" class="form-control" placeholder="Exemplo: silvanunes">
            @Html.ValidationMessageFor(x => x.Usuario)
    </div>
    <div class="col-3">
        <label for="senha">Senha:</label>
        <input type="password" asp-for="Senha" class="form-control" placeholder="Crie uma senha para esse usuário.">
            @Html.ValidationMessageFor(x => x.Senha)
    </div>

    </div>

    <div class ="row">

        <div class="col-3">
            <label for="email">E-mail:</label>
            <input type="text" asp-for="Email" class="form-control" placeholder="Exemplo: silvanunes">
            @Html.ValidationMessageFor(x => x.Email)
        </div>
        <div class="col-3">
            <label for="celular">Celular:</label>
            <input type="text" asp-for="Celular" class="form-control" placeholder="Exemplo: silvanunes">
            @Html.ValidationMessageFor(x => x.Celular)
        </div>
        
        <div class="col-3">
            <label for="perfil">Perfil:</label>
            <select asp-for="Perfil" class="form-control">
                <option value ="">Selecione</option>
                <option value ="@PerfilEnum.Admin">Administrador</option>
                <option value="@PerfilEnum.motorista">Motorista</option>
            </select>
            @Html.ValidationMessageFor(x => x.Perfil)
        </div>


    </div>

    <br />
    
    <button type="submit" class="btn btn-success">Adicionar</button>
    <a class="btn btn-secondary" asp-controller="Usuario" asp-action="Index" role="button">Voltar</a>
</form>



