@{
    ViewData["Title"] = "Detalhes Usuário";
}
@model UsuarioModel

<div class="text-center">
    <h1 class="display-4">Detalhes do Usuário</h1>
    <br />
</div>

<div class="container">
    <div class="row">
        <div class="col-lg-3 col-md-6 col-sm-12">
            <dl class="row">
                
                <dt class="col-sm-4">Código Funcional:</dt>
                <dd class="col-sm-8">@Model.CodigoFuncional</dd>

                <dt class="col-sm-4">Nome:</dt>
                <dd class="col-sm-8">@Model.Nome</dd>

                <dt class="col-sm-4">Usuário:</dt>
                <dd class="col-sm-8">@Model.Usuario</dd>

                <dt class="col-sm-4">E-mail:</dt>
                <dd class="col-sm-8">@Model.Email</dd>

                <dt class="col-sm-4">Celular:</dt>
                <dd class="col-sm-8">@Model.Celular</dd>

                <dt class="col-sm-4">Perfil:</dt>
                <dd class="col-sm-8">@Model.Perfil</dd>

                <dt class="col-sm-4">Data de Criação:</dt>
                <dd class="col-sm-8">@Model.DataCriacao.ToString("dd/MM/yyyy HH:mm:ss")</dd>

                <dt class="col-sm-4">Última Atualização:</dt>
                <dd class="col-sm-8">@Model.DataUltimaAtualizacao.ToString("dd/MM/yyyy HH:mm:ss")</dd>                      
            </dl>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-lg-3 col-md-6 col-sm-12">
            <a class="btn btn-secondary" asp-controller="Usuario" asp-action="Index" role="button">Voltar</a>
        </div>
    </div>
</div>

@* @* <div class="text-center">
    <a class="btn btn-secondary" asp-controller="Usuario" asp-action="Index" role="button">Voltar</a>
    <a class="btn btn-success" asp-controller="Usuario" asp-action="UsuarioReport" role="button">Salvar em PDF</a> 
</div> *@ 