@{
    ViewData["Title"] = "Detalhes Usuário";
}
@model UsuarioModel

<div class="text-center">
    <h1 class="display-4">Detalhes usuário</h1>
    <br />
</div>

<form>

    <div class="row">

        <div class="col-3">
            <label for="dataUltimaAlteracao">Ultima alteração:</label>
            <p>@Model.DataUltimaAtualizacao</p>
        </div>

        <div class="col-3">
            <label for="codigofuncional">Código Funcional:</label>
            <p>@Model.CodigoFuncional</p>
        </div>

        <div class="col-3">
            <label for="nome">Nome:</label>
            <p>@Model.Nome</p>
        </div>

        <div class="col-3">
            <label for="usuario">Usuário:</label>
            <p>@Model.Usuario</p>
        </div>

    </div>

    <div class="row">

        <div class="col-4">
            <label for="email">Email:</label>
            <p>@Model.Email</p>
        </div>

        <div class="col-4">
            <label for="celular">Celular:</label>
            <p>@Model.Celular</p>
        </div>

        <div class="col-4">
            <label for="perfil">Perfil:</label>
            <p>@Model.Perfil</p>
        </div>

    </div>

    <br />

    <a class="btn btn-secondary" asp-controller="Usuario" asp-action="Index" role="button">Voltar</a>
    <a class="btn btn-success" asp-controller="Usuario" asp-action="UsuarioReport" role="button">Salvar em PDF</a>


</form>
