@{
    ViewData["Title"] = "Detalhes Veículo";
}
@model VeiculoModel

<div class="text-center">
    <h1 class="display-4">Detalhes do Veículo</h1>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <dl class="row">
                
                <dt class="col-sm-4">Prefixo:</dt>
                <dd class="col-sm-8">@Model.Prefixo</dd>

                <dt class="col-sm-4">Veículo:</dt>
                <dd class="col-sm-8">@Model.Veiculo</dd>

                <dt class="col-sm-4">Cor:</dt>
                <dd class="col-sm-8">@Model.Cor</dd>

                <dt class="col-sm-4">Placa:</dt>
                <dd class="col-sm-8">@Model.Placa</dd>

                <dt class="col-sm-4">Quilometragem de Cadastro:</dt>
                <dd class="col-sm-8 formatted-quilometragem">@Model.Quilometragem</dd>

                <dt class="col-sm-4">Ano:</dt>
                <dd class="col-sm-8">@Model.Ano</dd>

                <dt class="col-sm-4">Valor:</dt>
                <dd class="col-sm-8">@Model.Valor</dd>

                <dt class="col-sm-4">Cadastro no Sistema:</dt>
                <dd class="col-sm-8">@Model.CadastroSistema.ToString("dd/MM/yyyy HH:mm:ss")</dd>

                <dt class="col-sm-4">Última Atualização:</dt>
                <dd class="col-sm-8">@Model.DataUltimaAtualizacao.ToString("dd/MM/yyyy HH:mm:ss")</dd>
                         
            </dl>
        </div>
    </div>
</div>

<div class="text-center">
    <a class="btn btn-secondary" asp-controller="Veiculo" asp-action="Index" role="button">Voltar</a>
</div>


<script>
    // Função para formatar a quilometragem com separador de milhar
    function formatarQuilometragem() {
        var elements = document.querySelectorAll('.formatted-quilometragem');
        elements.forEach(function (element) {
            var value = element.textContent;
            var formattedValue = parseFloat(value).toLocaleString('pt-BR');
            element.textContent = formattedValue;
        });
    }

    // Chama a função quando o DOM estiver carregado
    document.addEventListener('DOMContentLoaded', function () {
        formatarQuilometragem();
    });
</script>