@model SistemaBoletimTransporteDigital.ViewModels.BoletimViewModel
@using SistemaBoletimTransporteDigital.Enums;

@{   
    Layout = null;
}


@* <div class="text-center">
    <h1 class="display-4">Boletim Mensal Gerado</h1>
</div>
<br /> *@

<style>
    table {
        width: 100%;
        border-collapse: collapse;
    }

    table, th, td {
        border: 1px solid black;
    }

    th, td {
        padding: 10px;
        text-align: center;
    }
</style>


<div class="table-responsive">
    <!-- Informações gerais -->
    <table border="1">
        <tr>
            <td style="width: 50%">
                Prefeitura da Estância de Wakanda
                Estado de São Paulo
                Secretária da Educação
                Boletim de Transportes
            </td>
            <td>
                <table>
                    <tr>
                        <td>Período</td>
                        <td>@Model.Filtros.DataInicial?.ToString("dd/MM/yyyy") até @Model.Filtros.DataFinal?.ToString("dd/MM/yyyy")</td>
                    </tr>
                    <tr>
                        <td>Prefixo</td>
                        <td>@Model.DadosCorrida.FirstOrDefault()?.Veiculo?.Prefixo</td>
                    </tr>
                    <tr>
                        <td>Veículo</td>
                        <td>@Model.VeiculoNome @* - @Model.DadosCorrida.FirstOrDefault()?.Veiculo?.Veiculo *@</td>
                    </tr>
                    <tr>
                        <td>Placa</td>
                        <td>@Model.Placa @* - @Model.DadosCorrida.FirstOrDefault()?.Veiculo?.Placa *@</td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>

    <!-- Tabela de corridas -->
    <table class="table">
        <thead>
            <tr>
                <th>Data</th>
                <th>Cód Funcional</th>
                <th>KM Saída</th>
                <th>KM Chegada</th>
                <th>KM Total</th>
                <th>Horário Saída</th>
                <th>Horário Chegada</th>
                <th>Local Saída</th>
                <th>Local Chegada</th>
                <th>Serviço Executado</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var corrida in Model.DadosCorrida)
            {
                <tr>
                    <td>@corrida.DataInicioCorrida.ToShortDateString()</td>
                    <td>@corrida.Usuario.CodigoFuncional</td>
                    <td>@corrida.KmInicial</td>
                    <td>@corrida.KmFinal</td>
                    <td>@corrida.KmPercorrido</td>
                    <td>@corrida.DataInicioCorrida.ToShortTimeString()</td>
                    <td>@corrida.DataFinalCorrida.Value.ToString("HH:mm")</td>
                    <td>@corrida.LocalSaidaCorrida</td>
                    <td>@corrida.LocalChegadaCorrida</td>
                    <td>@corrida.DescricaoCorrida</td>
                </tr>
            }
        </tbody>
    </table>

    <!-- Tabela de abastecimento -->
    <table class="table">
        <thead>
            <tr>
                <th rowspan="7">ABASTECIMENTO/MANUTENÇÃO</th>
            </tr>

        </thead>
    </table>
    <table class="table">
        <thead>
        @* <th rowspan="7">ABASTECIMENTO/MANUTENÇÃO</th> *@
            <tr>
                <td>Data</td>
                <td>Prefixo</td>
                <td>Tipo</td>
                <td>Descrição</td>
            </tr>
        </thead>
        <tbody>
            @foreach (var abastecimento in Model.DadosManutencao)
            {
                foreach (var manutencao in abastecimento.Veiculo.Manutencoes)
                {
                    <tr>
                        <td>@manutencao.DataManutencao.ToShortDateString()</td>
                        <td>@abastecimento.Veiculo.Prefixo</td>
                        <td>@(manutencao.TipoManutencao == SistemaBoletimTransporteDigital.Enums.ManutencaoEnum.Manutencao ? "Manutenção" : "Abastecimento")</td>
                        <td>@manutencao.DescricaoManutencao</td>
                    </tr>
                }
            }
        </tbody>
    </table>
    <table class="table">
        <thead>
            <tr>              
                <th rowspan="7">ESTÃO SENDO ENTREGUES TODOS OS DISCOS OU RELATÓRIOS DO TACÓGRAFO<br /><br />________________</th>
            </tr>
            
        </thead>      
    </table>
</div>


