@{
    Layout = "_Layout";
    ViewData["Title"] = "Manutenção";
}
@model List<ManutencaoModel>

<div class="table-responsive">

    @* <div class="d-grid gap-2 d-md-flex justify-content-md-start">      
        <a class="btn btn-success" role="button"  asp-controller="Manutencao" asp-action="CriarManutencao">Criar Manutenção</a>
    </div> *@

    <br />

    @if (TempData["MensagemSucesso"] != null)
    {
        <div class="alert alert-success" role="alert">
            @* <button type="button" class="btn btn-danger btn-sm close-alert" aria-label="Close">X</button> *@
            @TempData["MensagemSucesso"]
        </div>
    }
    @if (TempData["MensagemErro"] != null)
    {
        <div class="alert alert-danger" role="alert">
            @* <button type="button" class="btn btn-danger btn-sm close-alert" aria-label="Close">X</button> *@
            @TempData["MensagemErro"]
        </div>
    }

    <br />

    <h1 class="display-4">Suas Manutenções</h1>

    <br />

    <table class="table table-dark table-hover" id="table-manutencao" style="width:100%">
        <thead>
            <tr>
                <th scope="col">Veículo:</th>
                <th scope="col">Placa:</th>
                <th scope="col">Data Manutenção:</th>
                <th scope="col">Descrição da manutenção:</th>
                <th scope="col">Tipo:</th>
                <th scope="col">Opções:</th>
            </tr>
        </thead>
        <tbody>

            @if (Model != null && Model.Any())
            {
                @foreach (ManutencaoModel manutencao in Model)
                {
                    <tr>
                        <td>
                            @if (manutencao.Veiculo != null)
                            {
                                @manutencao.Veiculo.Veiculo
                            }
                            else
                            {
                                @Html.DisplayFor(modelItem => manutencao.VeiculoID)
                            }
                        </td>
                        <td>
                            @if (manutencao.Veiculo != null)
                            {
                                @manutencao.Veiculo.Placa
                            }
                            else
                            {
                                @Html.DisplayFor(modelItem => manutencao.VeiculoID)
                            }
                        </td>
                        <td>@manutencao.DataManutencao</td>
                        <td>@manutencao.DescricaoManutencao</td>
                        <td>@manutencao.TipoManutencao</td>
                        <td>
                            <div class="btn-group" role="group" aria-label="Basic example">                            
                                <a role="button" class="btn btn-info" asp-route-id="@manutencao.Id" asp-controller="Manutencao" asp-action="DetalhesDaManutencao">Detalhes</a>                              
                            </div>
                        </td>                    
                    </tr>
                }
            }

        </tbody>
    </table>
</div>



