@using SistemaBoletimTransporteDigital.Enums;
@model CorridaModel
@{
    ViewData["Title"] = "Iniciar Corrida";
}


<div class="text-center">

    <h1 class="display-4">Iniciar corrida</h1>
    <br />

</div>

<form asp-controller="Corrida" asp-action="CriarCorrida" method="post">

    <div class="row">

        <div class="col-4">
            <label for="descricaocorrida">Descrição da corrida:</label>
            <input type="text" asp-for="DescricaoCorrida" class="form-control" placeholder="Exemplo: Indo para escola Etec...">
            @Html.ValidationMessageFor(x => x.DescricaoCorrida)
        </div>

        <div class="col-4">
            <label for="veiculo">Selecione o Veiculo:</label>
            <select asp-for="VeiculoID" class="form-control">
                <option value="">Selecione</option>
                @foreach (var veiculo in Model.VeiculosDisponiveis)
                {
                    @if (CarroEmUsoEnum.Disponivel == veiculo.CarroEmUso)
                    {
                        <option value="@veiculo.Id"> @veiculo.Veiculo | Cor: @veiculo.Cor | Placa: @veiculo.Placa</option>
                    }
                    
                }
            </select>
            @Html.ValidationMessageFor(x => x.VeiculoID)
        </div>

        <div class="col-4">
            <label for="kminicial">KM do Veículo:</label>
            <input type="text" asp-for="KmInicial" class="form-control" placeholder="Exemplo: 4543235...">
            @Html.ValidationMessageFor(x => x.KmInicial)
        </div>

        <div class="col-4">
            <label for="localsaida">Local de Saída:</label>
            <input type="text" asp-for="LocalSaidaCorrida" class="form-control" placeholder="Exemplo: Centro Atibaia">
            @Html.ValidationMessageFor(x => x.LocalSaidaCorrida)
        </div>
      

    </div>

    <br />

    <button type="submit" class="btn btn-success">Iniciar Corrida</button>
    <a class="btn btn-secondary" asp-controller="Corrida" asp-action="Index" role="button">Voltar</a>
</form>



